h1, h2, h3, h4, h5, h6 {
    font-family: $font__sans;
    clear: both;
}

h1 {
     
    
    @media screen and (min-width:$query__mini) {
    font-size:1.3em;}  
    
    @media screen and (min-width:$query__small) {
    font-size:1.5em;}
    
     @media screen and (min-width:$query__medium){
     font-size:2em;}
     
     @media screen and (min-width:$query__large){
     font-size:2.5em;
     }
}

h2 {
     @media screen and (min-width:$query__mini) {
    font-size:1.2em;}  
    
    @media screen and (min-width:$query__small) {
    font-size:1.3em;}
    
     @media screen and (min-width:$query__medium){
     font-size:1.8em;}
     
     @media screen and (min-width:$query__large){
     font-size:2em;
     }
}

h3 {
   @media screen and (min-width:$query__mini) {
    font-size:1.1em;}  
    
    @media screen and (min-width:$query__small) {
    font-size:1.2em;}
    
     @media screen and (min-width:$query__medium){
     font-size:1.5em;}
     
     @media screen and (min-width:$query__large){
     font-size:1.8em;
     }
    
}

h4 {
    @media screen and (min-width:$query__mini) {
    font-size:1em;}  
    
    @media screen and (min-width:$query__small) {
    font-size:1.2em;}
    
     @media screen and (min-width:$query__medium){
     font-size:1.3em;}
     
     @media screen and (min-width:$query__large){
     font-size:1.6em;
     } 
}

h5 {
    @media screen and (min-width:$query__mini) {
    font-size:1em;}  
    
    @media screen and (min-width:$query__small) {
    font-size:1.2em;}
    
     @media screen and (min-width:$query__medium){
     font-size:1.3em;}
     
     @media screen and (min-width:$query__large){
     font-size:1.5em;
     }  
}


h6 {
    @media screen and (min-width:$query__mini) {
    font-size:1em;}  
    
    @media screen and (min-width:$query__small) {
    font-size:1.2em;}
    
     @media screen and (min-width:$query__medium){
     font-size:1.3em;}
     
     @media screen and (min-width:$query__large){
     font-size:1.4em;
     } 
}